* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
}

header {
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}

.sidebar {
  border: 2px solid blue;
  display: inline-block;
  width: 20%;
  height: 85vh;
  text-align: center;
  vertical-align: top;
}

.sidebar-container {
  padding: 10px;
}

.greeting {
  font-size: 1.3rem;
  padding: 5px;
  height: 100px;
}

.past-scores {
  font-weight: bold;
  margin: 10px;
}

.main-container {
  border: 1px solid black;
  display: inline-block;
  height: 85vh;
  width: 80%;
  vertical-align: top;
}

.login-form, .register-form {
  max-width: 50%;
  margin: 50px auto;
  border: 1px black solid;
  padding: 10px 40px 40px 40px;
  border-radius: 20px;
}

.username, .password {
  text-align: left;
  padding: 0px 0px 0px 0px;
}

#login-title, #register-title {
  text-align: center;
  font-size: 2rem;
}

.register-info {
  margin: 18px 0px;
width: 75%;
display: inline-block;
}

.login-button {
  display: inline-block;
  /* width: 20%; */
  margin: 15px 0px 0px 0px;
}

.register-button {
  margin: 15px 0px 0px 72%;
}

.logout-button {
  margin: 100px 0px;
}

.dashboard-title {
  font-size: 2.5rem;
  padding: 5px 20px;
}

.main-container {
  overflow: scroll
}

.quiz-overview, .overview-container {
 border: 1px solid blue;
 border-radius: 8px;
 width: 25%;
 display: inline-block;
 height: 150px;
 margin: 10px 25px;
 text-align: center;
 font-size: 1.2rem;
 overflow: auto;
 padding: 5px;
}

.published-title {
  font-size: 1.2rem;
  padding: 5px 24px;
  font-weight: bold;
}

.unpublished-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px 10px;
}

.edit-quiz {
  font-size: 1.1rem;
  margin: 25px 0px 0px 0px;
  padding: 8px;
  border-radius: 10px;
}